PORT=3001
CORS_ORIGIN=*

# ── إعدادات TiDB Cloud (MySQL) ──
# إذا تم ملء هذه البيانات، سيعمل السيرفر فوراً على TiDB Cloud بدلاً من SQLite المحلي
TIDB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=TIDB_USER=4XG4M9993s2oktU.root
TIDB_PASSWORD=9K4R5ES91hJR3L7n
TIDB_DATABASE=sys
TIDB_ENABLE_SSL=true
